name: CI Pipeline

on:
  push:
    branches: ["*"]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run flake8 linting
        run: |
          flake8 --max-line-length=90 .

      - name: Run Pytest
        run: |
          pytest -q

      - name: Build Docker Image
        run: |
          docker build -t flask-app:ci .
